<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">

    <title>BlackTie.co - Sumo Lading</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="{{ url_for('static', filename='assets/css/ionicons.min.css') }}" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/payment_style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/face_search_form1.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/face_search_form2.css') }}" rel="stylesheet">


</head>

<body>


<div id="h">
    <!--<div class="logo">Find a stranger in Facebook</div>-->
    <div class="social hidden-xs">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <h1>Find a stranger in Facebook<br/>Sign up now access global faces database</h1>
                <div class="mtb">
                    <form role="form" action="#payment" method="post" enctype="plain">

                        <input type="email" name="email" class="subscribe-input"
                               placeholder="Enter your e-mail address..." required>
                        <button class='btn btn-conf btn-green' type="submit">Start your free trial</button>
                    </form>
                </div><!--/mt-->
                <h6>30 DAY FREE TRIAL</h6>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!-- /H -->


<div class="container ptb">
    <div class="row">
        <div class="col-md-6">

            <p class="mt">Our software uses the cutting-edge technology of computer vision and data mining to provide 3 core vision services
                (Detection, Recognition and Analysis). The service includes faces search across millions of images from Facebook and Youtube.
                Advanced face tracking enables accurate processing  photos of different age, face expression, race, glasses.
            </p>
            <p class="store">
                <a><img src="{{ url_for('static', filename='assets/img/app-store.png') }}" height="50" alt=""></a>
                <a><img src="{{ url_for('static', filename='assets/img/google-play.png') }}" height="50"
                                 alt=""></a>
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='assets/img/search-sample.png') }}" class="img-responsive mt"
                 alt="">
        </div>
    </div><!--/row-->
</div><!--/container-->

<div id="g">
    <div class="container">
        <div class="row sponsor centered">
            <div class="col-sm-2 col-sm-offset-1">
                <img src="{{ url_for('static', filename='assets/img/tensorflow.png') }}" alt="">
            </div>
            <div class="col-sm-2">
                <img src="{{ url_for('static', filename='assets/img/python-powered-w.svg') }}" alt="">
            </div>
            <div class="col-sm-2">
                <img src="{{ url_for('static', filename='assets/img/opencv.svg') }}" alt="">
            </div>
            <div class="col-sm-2">
                <img src="{{ url_for('static', filename='assets/img/client5.png') }}" alt="">
            </div>
        </div><!--/row-->
    </div>
</div><!--/g-->

<!--<div id="f">-->
    <!--<div class="container">-->
        <!--<div class="row centered">-->
            <!--<h2>You Can Contact Us</h2>-->
            <!--<h5>HELLO@11.COM</h5>-->
            <!--<h6 class="mt">2014 - 2016 </h6>-->
        <!--</div>&lt;!&ndash;/row&ndash;&gt;-->
    <!--</div>&lt;!&ndash;/container&ndash;&gt;-->
<!--</div>&lt;!&ndash;/F&ndash;&gt;-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/retina-1.1.0.js') }}"></script>


<div class="container ptb" id="payment">
    <div class="row">
        <div class="col-md-6">
            <h1>Searching People by Photos </h1>
            <h3>Register now and get 30 days access for free</h3>
            <p class="mt">
                Use the most advanced face detection and recognition technologies to find people in Facebook and Internet.
                Powerful neural networks will help you to remember all names from group photo.

            </p>
            <h3>Only $1.99 per month</h3>
        </div>
        <div class="col-md-6">

            <span class="payment">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Payment Details
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="cardNumber">
                                            CARD NUMBER</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                                   required />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="expityMonth">
                                                    EXPIRY DATE</label>
                                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                                    <input type="text" class="form-control" id="expityMonth" placeholder="MM"
                                                           required/>
                                                </div>
                                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                                    <input type="text" class="form-control" id="expityYear" placeholder="YY"
                                                           required/></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cvCode">
                                                    CV CODE</label>
                                                <input type="password" class="form-control" id="cvCode" placeholder="CV" required/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#"><span class="badge pull-right"><span
                                    class="glyphicon glyphicon-usd"></span>1.99</span> Final Payment</a>
                            </li>
                        </ul>
                        <br/>
                        <a href="http://www.jquery2dotnet.com" class="btn btn-success btn-lg btn-block" role="button">Register</a>
                    </div>
                </div>
            </div>
            </span>
        </div>
    </div><!--/row-->
</div><!--/container-->


</body>
</html>
